<div class="word-container">
  <div class="selected-word">
    <div class="letters">
      <span>{{ getDisplayWord() }}</span>
    </div>
  </div>

  <div class="shuffled-word">
    <button *ngFor="let letter of shuffledWord; let i = index" (click)="selectLetter(letter, i)">
      {{ letter }}
    </button>
  </div>

  <div *ngIf="isCorrectOrder()" class="success-message">
    <p>Sauwa, du bist da schenste</p>
  </div>

  <div *ngIf="showAnswer" class="correct-answer">
    <p>The correct word is: {{ word }}</p>
  </div>

  <div class="buttons">
    <button (click)="resetGame()">Reset Game</button>
    <button (click)="getNewWord()">Get New Word</button>
    <button (click)="revealAnswer()" *ngIf="!isCorrectOrder() && !showAnswer">Show Correct Answer</button>
  </div>

  <div>
    <label for="characterCount">Character Count: </label>
    <input type="number" id="characterCount" [(ngModel)]="characterCount" (change)="fetchWord()" />
  </div>
</div>
